
body {
  font-family: ui-monospace, monospace;
  font-size: 14px;
}

i {
  font-style: italic;
}
b, strong {
  font-weight: bold;
}
a {
  color: inherit;
  text-decoration: underline solid #000 1px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 10px 40px 10px;
}

article {
  line-height: 22px;
  margin-bottom: 40px;
  margin-top: 40px;
}
article > * {
  margin-bottom: 1.5em;
  max-width: 640px;
}
#main-title {
  margin-bottom: -6px;
  margin-left: -35px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
#main-title .tagline {
  text-align: right;
}
h1 {
  font-size: 32px;
  font-weight: bold;
}
hr {
  border: 0;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
}
#main-title img {
  width: 75px;
  height: 75px;
  margin-bottom: -7px;
}
#main-title h1 span {
  display: inline-block;
  margin-left: -24px;
  margin-bottom: -10px;
}

#icon-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-bottom: 30px;
  border-bottom: 2px solid #000;
}
#icon-gallery a {
  min-width: 0;
  min-height: 0;
  display:block;
  width:15px;
  height:15px;
  flex:0 0 15px;
}
#icon-gallery a svg {
  min-width: 0;
  min-height: 0;
  display:block;
  width:15px;
  height:15px;
}

.pixel-grid {
  width:105px;
  height:105px;
  flex:0 0 auto;
  background:url(/15x15_grid.svg);
  background-size:contain;
}

.icon-item {
  width: 100%;
  margin-bottom: 40px;
  min-height: 150px;
}
.icon-item-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.icon-label {
  background: #000;
  width: fit-content;
  min-width: 200px;
  max-width: 100%;
  color: #fff;
  padding: 8px;
}
.links {
  display: flex;
  gap: 10px;
}
.icon-variants {
  display: flex;
  border-top: 1px solid #000;
  gap: 20px;
  padding: 20px 0 20px 8px;
}
.map-preview {
  width: 105px;
  height: 105px;
  flex: 0 0 auto;
  position: relative;
}
.map-preview-background {
  width:105px;
  height:105px;
  background:url(/demo_map.svg);
  background-size:contain;
}
.res-previews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 105px;
}
.res-preview-wrap {
  display: flex;
  align-items: center;
  gap: 4px;
}
canvas.res-preview {
 width:15px;
 height:15px;
 image-rendering:crisp-edges;
 image-rendering:pixelated;
}
textarea.svg-code {
  width: 100%;
  border: 0;
  overflow: scroll;
  text-align: left;
  white-space: nowrap;
  background: #f7f7f7;
  padding: 4px;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  height:105px;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  #main-title {
    flex-direction: column;
    align-items: start;
    margin: 0;
    gap: 20px;
  }
  h1 {
    font-size: 26px;
  }
  
}
/* 
@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #fff;
  }
  svg, img, canvas {
    filter: invert(1);
  }
} */
