:root {
  --bg-color: #fff;
  --text-color: #000;
}

body {
  font-family: ui-monospace, monospace;
  font-size: 14px;
  background: var(--bg-color);
  color: var(--text-color);
}

svg {
  fill: currentColor;
}

i {
  font-style: italic;
}
b, strong {
  font-weight: bold;
}
a {
  color: inherit;
  text-decoration: underline solid var(--text-color) 1px;
}
h1 {
  font-size: 32px;
  font-weight: bold;
}
h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  border-bottom: 1px dashed var(--text-color);
  padding-bottom: 10px;
}
hr {
  border: 0;
  border-bottom: 2px solid var(--text-color);
  margin-bottom: 30px;
}

img.inline-icon, a.inline-icon img {
  height: 0.85em;
  aspect-ratio: 1;
}
.inline-icon:not(:first-child) {
  margin-left: 4px;
}
.inline-icon:not(:last-child) {
  margin-right: 4px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 10px 40px 10px;
}

#body-area {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}
#sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  line-height: 2em;
  border-left: 1px solid var(--text-color);
  padding-left: 16px;
}
#sidebar a {
  width: fit-content;
}
article {
  line-height: 22px;
}
article > * {
  margin-bottom: 1.5em;
  max-width: 640px;
}
#main-title {
  margin-bottom: -6px;
  margin-left: -35px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
#main-title .tagline {
  text-align: right;
}
#main-title img {
  width: 75px;
  height: 75px;
  margin-bottom: -7px;
}
#main-title h1 span {
  display: inline-block;
  margin-left: -24px;
  margin-bottom: -10px;
}

#icon-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--text-color);
}
#icon-gallery a {
  min-width: 0;
  min-height: 0;
  display:block;
  width:15px;
  height:15px;
  flex:0 0 15px;
}
#icon-gallery a svg {
  min-width: 0;
  min-height: 0;
  display:block;
  width:15px;
  height:15px;
}

.pixel-grid {
  width:105px;
  height:105px;
  flex:0 0 auto;
  background:url(/15x15_grid.svg);
  background-size:contain;
}

.icon-item {
  width: 100%;
  margin-bottom: 40px;
  min-height: 150px;
}
.icon-item-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.icon-label {
  background: var(--text-color);
  width: fit-content;
  min-width: 200px;
  max-width: 100%;
  color: var(--bg-color);
  padding: 8px;
  display: flex;
}
.icon-label svg {
  width:15px;
  height:15px;
  display:inline-block;
  margin-right: 10px;
  vertical-align:middle;
  flex: 0 0 auto;
}
.icon-name {
  vertical-align:middle;
  line-break: anywhere;
}
.links {
  display: flex;
  gap: 10px;
}
.icon-variants {
  display: flex;
  border-top: 1px solid var(--text-color);
  gap: 20px;
  padding: 20px 0;
}
.map-preview {
  width: 105px;
  height: 105px;
  flex: 0 0 auto;
  position: relative;
}
.map-preview-background {
  width:105px;
  height:105px;
  background:url(/demo_map.svg);
  background-size:contain;
}
.map-preview-pin-icon {
  width:15px;
  height:15px;
  position:absolute;
  top:45px;
  left:45px;
  color:var(--bg-color);
}
.res-previews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 105px;
  padding-left: 8px;
}
.res-preview-wrap {
  display: flex;
  align-items: center;
  gap: 4px;
}
canvas.res-preview {
 width:15px;
 height:15px;
 image-rendering:crisp-edges;
 image-rendering:pixelated;
}
textarea {
  background: rgba(128,128,128,0.1);
  padding: 6px;
  border: 0;
  overflow: scroll;
  text-align: left;
  white-space: nowrap;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  color: inherit;
}
.text-areas {
  width: 100%;
  height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-areas textarea.svg-code {
  height: calc(3lh + 12px);
}
.text-areas textarea.img-code {
  height: calc(1lh + 12px);
}

@media only screen and (max-width: 800px) {
  #main-title {
    flex-direction: column;
    align-items: start;
    margin: 0;
    gap: 20px;
  }
  h1 {
    font-size: 26px;
  }

  #body-area {
    flex-direction: column;
  }
  #sidebar {
    border: 0;
    padding: 0;
  }

  .icon-item-header {
    flex-direction: column;
  }
  .icon-label {
    width: 100%;
  }
  .links {
    padding: 10px 0 10px 8px;
  }
  .icon-variants {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111;
    --text-color: #fff;
  }
  img, canvas {
    filter: invert(1);
  }
}  */