name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write  # Required for npm publish via OIDC
  contents: write  # Required to make GitHub release

concurrency:
  group: "release"
  cancel-in-progress: false

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: Install
        run: npm install
      - name: Build
        run: npm run build
      - name: Pack
        run: npm pack
      - name: Create GitHub Release
        run: |
          PACKAGE_FILE=$(ls *.tgz)
          gh release create "${GITHUB_REF_NAME}" "$PACKAGE_FILE" \
            --title "${GITHUB_REF_NAME}" \
            --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish to npm
        run: npm publish